@page
@model IndexModel
@{
    ViewData["Title"] = "Elon Musk Body Count";
}

<div class="text-center">
    <h1 class="display-4">Arrest <b>Elon Musk</b> Now!</h1>
    <div class="indexText">Serial Murderer <b>Elon Musk</b> has killed</div>
    <div class="deaths"><b>@Model.NumDeaths</b></div>
    <div class="indexText">innocent people</div> <br />
    <div class="indexText"><a href="">Show Me</a></div>
</div>
